* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/**
* navbar styling
**/

.navbar{
    background-color: #6c5ce7;
    color: #dfe6e9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin-bottom: 30px;
}
/**
* cart icon styling
**/
.cart{
    background-color: #fd79a8;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.cartAmount{
    background-color: #ffeaa7;
    position: absolute;
    top: -10px;
    right: -8px;
    font-size: 16px;
    color: black;
    padding: 4px;
    border-radius: 3px;
}

/**
* shop styling
**/

.shop{
    
    display: grid;
    grid-template-columns: repeat(4, 224px);
    justify-content: center;
    gap: 30px;
}

@media  (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(3, 224px);
    }
}

@media  (max-width: 750px) {
    .shop{
        grid-template-columns: repeat(2, 224px);
    }
}

@media  (max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 224px);
    }
}

.item-card {
    border: 2px solid #fd79a8;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}

.item-card img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

/**
* shopping cart styling
**/

.HomeBtn,
.checkout,
.removeAll{
    background-color: #6c5ce7;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.checkout{
    background-color: #00b894;
}

.removeAll{
    background-color: #d63031;
}

/**
* shopping cart item styling
**/

.shoping-cart{
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.cart-item{
    border: 2px solid #6c5ce7;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.title-price-del{
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item-price{
    background-color: #6c5ce7;
    color: white;
    border-radius: 3px;
    padding: 2px;
}

.item-title{
    overflow: hidden;
}